SECRET_KEY=nasipadang
PATH_FILE=https://mute-pinter.up.railway.app/uploads/
SERVER_KEY=SB-Mid-server-N3k566CL8EHrzygrPtg1zzSn
CLIENT_KEY=SB-Mid-client-JI0vdgpQT7bjuZt-
EMAIL_SYSTEM=muthmainnah133@gmail.com
PASSWORD_SYSTEM=pwlwqbszytgpjuenv
DB_HOST=containers-us-west-29.railway.app
DB_NAME=railway
DB_PASSWORD=GEdbSPkRoeQYnf3WWIZP
DB_PORT=6832
DB_USER=postgres
PORT=5000